$o-view-background-color: rgba(255, 255, 255, 0.06);
$o-webclient-background-color: rgba(255, 255, 255, 0.12);
$o-kanban-background: rgba(255, 255, 255, 0.06);
$o-card-body-bg-opacity: 0.35;
$dropdown-bg: rgba(255, 255, 255, 1);
$dropdown-border-color: rgba(255, 255, 255, 0.75);
$dropdown-link-hover-bg: rgba(255, 255, 255, 0.35);
